project:
  type: website
  render: 
    - test.md
    - "Workshops/*"

website:
  title: "R Training Intensive"
  sidebar:
    contents:
      - href: test.md
        text: Home
      - auto: "Workshops"

format:
  html:
    theme: cosmo
    css: styles.css
    toc: true

execute:
  freeze: auto