project:
  type: website
  render: 
    - setup.md
    - project.md
    - "Workshops/*"
    - "Project/*"
website:
  title: "R Training Intensive"
  navbar:
    search: true
  sidebar: 
    contents:
      - setup.md
      - auto: "Workshops"
      - project.md


## Hybrid nav - probably not worth it
#  navbar:
#    search: true
#    left:
#      - text: "Workshops"
#        href: Workshops/Workshops.md
#      - text: "Project"
#        href: Project/project.md

#  sidebar:
#    - title: "Workshops"
#      contents:
#        - href: setup.md
#          text: Setup
#        - auto: "Workshops"

#    - title: "Project"
#      contents:
#        - auto: "Project"

format:
  html:
    theme: 
      - default
      - custom.scss
    toc: true

execute:
  freeze: auto